body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #101010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  text-align: center;
  width: 100vw;
  font-family: axis;
}

#right {
  text-align: center;
}

#signature-container {
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.signature {
  width: 300px;
  transform: rotate(4deg);
}

#content {
  margin: auto;
  display: flex;
  height: 100vh;
  width: 80vw;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#links {
  font-family: axis;
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ff9000;
}

p {
  font-family: Aribau Grotesk Trial;
}

footer {
  text-align: center;
  width: 100vw;
}

#right img {
  width: 100%;
  max-width: 20rem;
  border-radius: 10px;
  margin-top: 10px;
}
